/node_modules/*
!/node_modules/bootstrap/
!/node_modules/bootstrap/
!/node_modules/nprogress/
!/node_modules/datatables.net-bs4/
!/node_modules/datatables.net-buttons-bs4/
!/node_modules/jquery/
!/node_modules/datatables.net/
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
