node_modules/**
!application/bootstrap
!application/nprogress
!application/datatables.net-bs4
!application/datatables.net-buttons-bs4
!application/jquery
!application/datatables.net
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
